{
    "appId": "AppId",
    "appKey": "AppKey",
    "asrUrl": "https://dictation.nuancemobility.net",
    "asrEndpoint": "/NMDPAsrCmdServlet/dictation",
    "ttsUrl": "https://tts.nuancemobility.net:443",
    "ttsEndpoint": "/NMDPTTSCmdServlet/tts"
}
